.home_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    color: white;
    background-color: black;
}

.card{
    position: absolute;
    z-index: 1;
}